
.gradient {
  @include gradient($gradientColor1,$gradientColor2,$headerPicture);
  @include backImg;

}

.headerNav {
  text-align: left;
  margin-bottom: 115px;

  h1{
    margin-right: 0;
  }

  svg{
    fill: white;
    width: 40px;
  }
}
.header {
  color:#fff;
  height: 400px;
  text-align: center;


}

.subHeader {
  h1 {
    color: $headerColor;
  }
}
